.hideable {
  opacity: 1;
  transition: opacity 500ms ease-in-out 10ms;
}

.hideable-faster {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.resizable {
  transition:
    height 300ms ease-in-out,
    width 300ms ease-in-out;
}

.hideable.resizable {
  transition:
    opacity 500ms ease-in-out 10ms,
    height 300ms ease-in-out,
    width 300ms ease-in-out;
}

.hideable-faster.resizable {
  transition:
    opacity opacity 150ms ease-in-out,
    height 300ms ease-in-out,
    width 300ms ease-in-out;
}

.hide {
  opacity: 0;
  z-index: -1;
}
